<main>

  <div class="div1 mt-2">
    <b> &#x24D8; Exchange Not Connected </b><span class="tab1"></span>
    <b>Trial Subscription-7 more days left <button class="btn btn-primary"><span style="color:blue">Renew
          Subscription</span></button>
    </b>
  </div>

  <div class="div2  ">
    <b> &#9636; Balance</b> <br>
    <b style="font-size:20px"> $25,200.97 </b> <br>
    <div class="text-center">
    <a><span style="color:grey">Invested | %Profit | USD Profit</span></a><br>
    <b>$10,458 | +60% | $15,648.38</b> 
    </div><br>
    <button class="btn btn-primary ml-2"><span style="color:blue">Add Exchange</span></button>
  </div>
  <div class="div3">
    <canvas
    mdbChart
    type="'doughnut'"
    datasets="datasets"
    labels="labels"
  ></canvas>
  </div>
  <div class="div4">
    <a> <i style='font-size:15px' class='fas'>&#xf0f2;</i> Portfolio 1</a>
    <canvas mdbChart type="'line'" datasets="datasets" labels="labels"></canvas>
  </div>
  <div class="div5">
    <a> <i style='font-size:15px' class='fas'>&#xf0f2;</i> Portfolio 2</a>

     <canvas mdbChart type="'line'" datasets="datasets" labels="labels"></canvas>

    </div>
  <div class="div6">
    <a> <i style='font-size:15px' class='fas'>&#xf0f2;</i> Portfolio 3</a>
    <canvas mdbChart type="'line'" datasets="datasets" labels="labels"></canvas>
  </div>
  <div class="div7">
    <b> <i style='font-size:15px' class='fas'>&#xf012;</i> Chart</b>

    <canvas
  mdbChart
  type="'bar'"
  datasets="datasets"
  labels="labels"
></canvas>
  </div>
  <div class="div8 ">
    <div class="row">
      <b>&#x21CC; Transactions</b>
      <p><span class="tab2"></span></p>
      <button class="btn btn-primary" style="color:blue">See all</button>
    </div>


    <b> <i style='font-size:24px; color:blue' class='fas'>&#xf0ab;</i> Buy</b> <br>
    <a><span style="color:grey">$250.00<span class="tab123"></span>Apr 20,2020</span></a> <br>
    <b>  <i style='font-size:24px; color:blue' class='fas'>&#xf0aa;</i> Sell</b> <br>
    <a><span style="color:grey">$250.00<span class="tab123"></span>Apr 16,2020</span></a> <br>
    <b>  <i style='font-size:24px; color:blue' class='fas'>&#xf0aa;</i> Sell</b> <br>
    <a><span style="color:grey">$250.00<span class="tab123"></span>Apr 10,2020</span></a>
  </div>


  <div class="div9 mt-2">
    <div class="row">
    <div class="image mt-2 ml-4">
      <img src="assets\img\Ivan.jpg" />
      </div>
      <div class="ml-5 mt-3 ">
        <h5> Good morning, Ivan! </h5>
        <a style="color:blue"> Settings </a>
      </div>
    </div>
    <br>
    <div class=" ml-2 mt-5">
      <h6>&#x21C5; Recent activity</h6>

      <b>&uarr; 1837 USD = 0.084 BTC</b> <br>
      <a><span style="color:grey"> 1 BTC =8,468 USD</span></a> <br>

      <b>&uarr; 1837 USD = 0.084 BTC</b> <br>
      <a><span style="color:grey"> 1 BTC =8,468 USD</span></a> <br>

      <b>&uarr; 1837 USD = 0.084 BTC</b> <br>
      <a><span style="color:grey"> 1 BTC =8,468 USD</span></a>

    </div>
    <br>
    <hr class="mr-3 ml-3">
    <br>
    <div class="row mt-2 ">
      <h6><a style='font-size:15px; color:black' class='fas'>&#xf2f1;</a> Exchange</h6>
      <p><span class="tab3"></span></p>
      <select style="color:blue">
        <option value="USD">USD</option>
        <option value="BT">BTC</option>
      </select>
    </div>
    <br>
    <h6>1,700.00 USD</h6>
    <h6>0.674931 BTC</h6>

    <br>
    <div class="div10 ml-2">
    <i style='font-size:150px; color:blue;' class='fas'>&#xf658;</i> <br>
    </div>
    <div class="text-center">
      <a>Invite costomers and get $10 for each</a>
      <button class="btn btn-primary"><span style="color:blue"> Send Invitation </span></button>
    </div>
  </div>
</main>